*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.contenedor{
  height: 1000px;
  width: 600px;
  display: block;
  padding: 0;
  margin: 2px;

}
.parrafo1{
  width: 100%;
  height: 8%;
  margin: 5px 0;
  padding: 0;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 150%;
}
.titulo{
  height: 1%;
  font-family: arial;
  font-size: 11px;
  letter-spacing: 1px;
  word-spacing: 1px;
  width: 100%;
  margin: 3em 0;
}
.parrafo2{
  height: 20%;
  width: 100%;
  margin: 2em 0;
  padding: 0;
  font-family: helvetica;
  font-size: 13px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 150%;
}
.Imagen{
  width: 100%;
  height: 60%;
  margin: 1em 0;
  padding: 0;

}

img{
  width: 100%;
  height: 100%;
}

@media query {max width: 700px){
  height: auto;
  width: auto;
}

}
